* {
    margin: 0;
    box-sizing: border-box;
    font-size: 19pt;
}
body {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding: 1%;
}
body.waiting * {
    cursor: progress;
}
header {
    font-size: 2em;
    color: gold;
    text-align: center;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1%;
    height: 8%;
}
.money {
    color: white;
    display: inline-block;
    float: left;
    background-color: blue;
    text-shadow: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
main {
    display: flex;
    height: 92%;
    border-width: 5px;
}
.column {
    width: 16.66667%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cell {
    border: 2px solid black;
    width: 100%;
    height: 16.66667%;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.8);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category {
    color: white;
    max-height: 16.66667%;
    border-bottom-width: 5px;
}
.question {
    color: gold;
    font-size: 1.5em;
}
.question:hover {
    cursor: pointer;
}
.question[used='true']:hover {
    cursor: default;
}
.prompt {
    position: fixed;
    border: 5px solid black;
    border-radius: 8px;
    color: white;
    background-color: darkblue;
    width: 0;
    height: 0;
    font-size: 1.5em;
    padding: 5%;
}
.prompt label, .prompt input {
    color: black;
    border: none;
    text-shadow: none;
    font-size: inherit;
    background-color: white;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
input:focus {
    outline: none;
}
#feedbackContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    align-self: flex-start;
}
#correct, #wrong {
    font-size: 7em;
    text-align: center;
    top: 50%;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, .5);
    position: relative;
    top: -5%;
}
#correct {
    color: lightgreen;
}
#wrong {
    color: red;
}
video {
  display: none;
}
